name: Full CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  backend-ci:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Audit dependencies
        run: npm audit --audit-level=high

      - name: Run linter
        run: npx eslint .

      - name: Run tests
        run: npm test

      - name: Build Docker image
        run: docker build -t f1-backend:ci .
  # ─────────────── iOS CI Job ───────────────
  ios-ci:
    runs-on: macos-15

    defaults:
      run:
        working-directory: frontend/Formula1

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Select Xcode 16.2
        run: sudo xcode-select -s /Applications/Xcode_16.2.app

      - name: Test app
        run: |
          xcodebuild -scheme Formula1 -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 16,OS=18.2' skip-testing:Formula1UITests test
      
      - name: Archive test results
        if: always()  # always run, even if previous steps fail
        uses: actions/upload-artifact@v4
        with:
          name: Formula1TestResults
          path: frontend/Formula1/DerivedData/Logs/Test
